<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
# # Import necessary libraries & packages 
# from sqlalchemy import create_engine, inspect
# from sqlalchemy.orm import Session, sessionmaker

In [ ]:
# # Connect to SQL database
# engine = create_engine('sqlite:///Northwind_small.sqlite', echo=True)
# Session = sessionmaker(bind=engine)
# session = Session()

In [ ]:
# # Get Table Names and Table Information
# inspector = inspect(engine)
# inspector.get_table_names()

In [ ]:
# # Create connection
# conn = engine.connect()
# # Define query
# customer_query = '''SELECT * FROM Customer LIMIT 5;'''
# # Execute query
# customer = conn.execute(customer_query)
# # Fetchall
# customer.fetchall()

In [ ]:
# customer.keys()

In [1]:
# Import libraries we will be utilizing

import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stat
from statsmodels.formula.api import ols
%matplotlib inline

from statsmodels.stats.power import TTestIndPower, TTestPower
power_analysis = TTestIndPower()

In [19]:
# Connect to sqlite database using sqlite3
connection = sqlite3.connect('Northwind_small.sqlite')
cursor = connection.cursor()

In [20]:
# Preview tables present in database 
query = """SELECT name 
           FROM sqlite_master 
           WHERE type = 'table';"""

res = cursor.execute(query).fetchall()
table_names = [r[0] for r in res]
table_names

['Employee',
 'Category',
 'Customer',
 'Shipper',
 'Supplier',
 'Order',
 'Product',
 'OrderDetail',
 'CustomerCustomerDemo',
 'CustomerDemographic',
 'Region',
 'Territory',
 'EmployeeTerritory']

In [21]:
def query_to_df(query, cursor):
    '''Takes in a SQL query and cursor returns 
    a pandas dataframe with column names'''
    
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall())
    df.columns = [x[0] for x in cursor.description]
    
    return df

In [24]:
query = '''SELECT *
           FROM Region;'''

query_to_df(query, cursor)

   Id RegionDescription
0   1           Eastern
1   2           Western
2   3          Northern
3   4          Southern

In [25]:
query = '''SELECT *
           FROM Category;'''

query_to_df(query, cursor)

   Id    CategoryName                                        Description
0   1       Beverages        Soft drinks, coffees, teas, beers, and ales
1   2      Condiments  Sweet and savory sauces, relishes, spreads, an...
2   3     Confections                Desserts, candies, and sweet breads
3   4  Dairy Products                                            Cheeses
4   5  Grains/Cereals                Breads, crackers, pasta, and cereal
5   6    Meat/Poultry                                     Prepared meats
6   7         Produce                          Dried fruit and bean curd
7   8         Seafood                                   Seaweed and fish

In [28]:
query = '''SELECT *
           FROM Territory;'''

query_to_df(query, cursor)

       Id TerritoryDescription  RegionId
0   01581             Westboro         1
1   01730              Bedford         1
2   01833            Georgetow         1
3   02116               Boston         1
4   02139            Cambridge         1
5   02184            Braintree         1
6   02903           Providence         1
7   03049               Hollis         3
8   03801           Portsmouth         3
9   06897               Wilton         1
10  07960           Morristown         1
11  08837               Edison         1
12  10019             New York         1
13  10038             New York         1
14  11747             Mellvile         1
15  14450             Fairport         1
16  19428         Philadelphia         3
17  19713               Neward         1
18  20852            Rockville         1
19  27403           Greensboro         1
20  27511                 Cary         1
21  29202             Columbia         4
22  30346              Atlanta         4
23  31406             Savannah         4
24  32859              Orlando         4
25  33607                Tampa         4
26  40222           Louisville         1
27  44122            Beachwood         3
28  45839              Findlay         3
29  48075           Southfield         3
30  48084                 Troy         3
31  48304     Bloomfield Hills         3
32  53404               Racine         3
33  55113            Roseville         3
34  55439          Minneapolis         3
35  60179      Hoffman Estates         2
36  60601              Chicago         2
37  72716          Bentonville         4
38  75234               Dallas         4
39  78759               Austin         4
40  80202               Denver         2
41  80909     Colorado Springs         2
42  85014              Phoenix         2
43  85251           Scottsdale         2
44  90405         Santa Monica         2
45  94025           Menlo Park         2
46  94105        San Francisco         2
47  95008             Campbell         2
48  95054          Santa Clara         2
49  95060           Santa Cruz         2
50  98004             Bellevue         2
51  98052              Redmond         2
52  98104              Seattle         2

In [29]:
query = '''SELECT *
           FROM Employee;'''

query_to_df(query, cursor)

,Id,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1980-12-08,2024-05-01,507 - 20th Ave. E. Apt. 2A,Seattle,North America,98122,USA,(206) 555-9857,5467,None,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1984-02-19,2024-08-14,908 W. Capital Way,Tacoma,North America,98401,USA,(206) 555-9482,3457,None,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1995-08-30,2024-04-01,722 Moss Bay Blvd.,Kirkland,North America,98033,USA,(206) 555-3412,3355,None,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1969-09-19,2025-05-03,4110 Old Redmond Rd.,Redmond,North America,98052,USA,(206) 555-8122,5176,None,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1987-03-04,2025-10-17,14 Garrett Hill,London,British Isles,SW1 8JR,UK,(71) 555-4848,3453,None,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1995-07-02,2025-10-17,Coventry House Miner Rd.,London,British Isles,EC2 7JR,UK,(71) 555-7773,428,None,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1992-05-29,2026-01-02,Edgeham Hollow Winchester Way,London,British Isles,RG1 9SP,UK,(71) 555-5598,465,None,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1990-01-09,2026-03-05,4726 - 11th Ave. N.E.,Seattle,North America,98105,USA,(206) 555-1189,2344,None,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1998-01-27,2026-11-15,7 Houndstooth Rd.,London,British Isles,WG2 7LT,UK,(71) 555-4444,452,None,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp

In [30]:
query = '''SELECT *
           FROM Customer;'''

query_to_df(query, cursor)

,Id,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Western Europe,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Central America,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Central America,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Northern Europe,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,Scandinavia,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,South America,08737-363,Brazil,(14) 555-8122,None
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,North America,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,Scandinavia,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,Eastern Europe,01-012,Poland,(26) 642-7012,(26) 642-7012